{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark orange">
    <a class="navbar-brand ml-0 fw-bolder" href="{% url 'index' %}">
        <img src="{% static 'foody-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Foody
    </a>
    <div class="vr"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item pl-2 text-white">Здравей, {{ current_user.first_name }} {{ current_user.last_name }}!</li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Табло</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restaurant-menu' %}">Меню</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{% url 'logout' %}" style="color:white;">Изход</a></li>
      </ul>
    </div>
  </nav>